NODE_ENV=development
PORT=3000

APP_NAME=JMC_Kepegawaian
APP_CLIENT=JMC_Teknis_Test

# Database Config (MariaDB / MySQL Connection Credentials)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_kepegawaian

# JWT Secret Key (Kunci Enkripsi Token Autentikasi JWT)
JWT_SECRET=super_secret_jmc_kepegawaian_jwt_key_2026

# Recaptcha Public Key (Optional)
NUXT_PUBLIC_RECAPTCHA_SITE_KEY=YOUR_SITE_KEY